.clase1{

    background-color: yellow;
    height: 400px;
    width: 200px;
    position: static;
     
}

.clase2{

    background-color: blue;
    height: 400px;
    width: 200px;
    position: static;
    
}

.clase3{

    background-color: red;
    height: 400px;
    width: 200px;
    position: static;
     
}

.cajaRelativa{

    background-color: green;
    height: 500px;
    width: 500px;
    position: relative;
    top: 50px;
    left: 35px;
     
}

.cajaPadre{

    background-color: darkcyan;
    height: 500px;
    width: 500px;
    position: relative;
 
}

.cajaHijo{

    background-color: violet;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50px;
    top: 0px;
 
}